     :root{
    --main-radius:5px; /*Variáveis CSS*/
    --main-padding:5px;
}

body{
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.container{
   display: grid;
   height: 100vh;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 0.2fr 1.5fr 1.5fr 0.5fr;
   grid-template-areas: 
                        "nav nav nav nav"
                        "aside content1 content2 content3"
                        "aside content4 content5 content6"
                        "footer footer footer footer";
    grid-gap: 0.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font: 1em;
    color: #ffffff;
    text-align: center;
}

nav{
 background-color: #50C2C2;
 grid-area: nav;
 border-radius: var(--main-radius);
 padding-top: var(--main-padding);
 padding: 15px;
}

aside{
    background-color: #50C2C2;
    grid-area: aside;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    padding: 15px;
}

#content1{
    background-color: rgb(136, 127, 127);
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    padding: 15px;
}

#content2{
    background-color: rgb(65, 63, 61);
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    padding: 15px;
}

#content3{
    background-color: rgb(202, 114, 31);
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    padding: 15px;
}
#content4{
  background-color: rgb(131, 102, 43);
  grid-area: content4;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  padding: 15px;
}
#content5{
  background-color: rgb(0, 0, 0);
  grid-area: content5;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  padding: 15px;
}
#content6{
  background-color: rgb(122, 53, 39);
  grid-area: content6;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  padding: 15px;
}

footer{
    background-color: #50C2C2;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
  }
  
  .logo {
    font-weight: bold;
    font-size: 20px;
    padding: 8px;
    margin-right: auto;
  }
  
  .menu-items {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  
  .menu-items li {
    margin-left: 15px;
  }
  
  .menu-items li:first-child {
    margin-left: 0;
  }
  
  .menu-items li a {
    text-decoration: none;
    color: #333;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    padding: 8px;
    margin-left: auto;
  }
  
  .search-bar input {
    margin-right: 5px;
  }
  
  .search-bar button {
    padding: 5px 10px;
  }

  #text{
    transform: lowercase;
  }

    

  